<h3>EnfantDemo</h3>

@*Input : binding*@
@*button : declencher la soumission*@


@code {

    public string input { get; set; }


    // Recuperation d'une adresse de fonction depuis le parent
    [Parameter]
    public EventCallback<string> SubmitFromChild { get; set; }

    // Permet de declencher la fonction du parent
    public void SendToParent()
    {
        SubmitFromChild.InvokeAsync(input);
    }
}