<div class="top-row ps-3 navbar navbar-dark">

    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorDemoSap1</a>
    </div>

</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home

            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="component">
                Composant et directives
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="navigation">
                Navigation
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="binding">
                Binding
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="formulaires">
                Formulaires
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="page-demo">
                 Page Demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="page-demo-parent-enfant">
                Demo Parent enfant
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="exo-list">
                Page Exo List
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="exo-communication">
                Page Exo Parent Enfant
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="exo-formulaire">
                Page Exo Formulaire
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="games-list">
                Liste de jeux
            </NavLink>
        </div>

    </nav>
</div>

