@page "/exo-list"

<h3>ExoList</h3>

<ul>
    <li>Creer une page ProductList</li>

    <li>Creer un composant productDetails</li>

    <li>Le composant va etre afficher sur la page ProductList</li>

    <li> Lors du clique  afficher le produit dans le composant</li>
</ul>



<ul>
    <li> Une liste de produits</li>
    <li>une instance a laquel affecté le produit selectionné</li>
    <li>une methode qui prend en paramètre un id et charge le produit de la liste vers le produit à afficher</li>
</ul>

