@page "/recette"

<h3>Component</h3>

<ul>
    <li>Trois model Recipe</li>
    <li>Recipe</li>
    <li>AddRecipe</li>
    <li>UpdateRecipe</li>
</ul>

<ul>
    <li>Une classe ( et une interface )</li>
    <li>Add</li>
    <li>GetAll</li>
    <li>GetById</li>
    <li>Update</li>
    <li>Delete</li>
<p>Ne pas oublier la configuration dans le program.cs</p>
</ul>

<ul>
    <li>Pages recipe</li>
    <li>GetAll</li>
    <li>Add</li>
    <li>GetById</li>
    <li>Update et delete sur la meme page </li>
</ul>

<p>Verifier que le render mode est en interactive server</p>


@code {

}
