@page "/exo-formulaire"

<h3>ExoFormulaire</h3>

<p>Model : Movie et AddMovie</p>
<ul>
    <li>Id</li>
    <li>Titre</li>
    <li>Description</li>
    <li>AnnéeDeProd</li>
    <li>Réalisateur</li>
</ul>

<p>Un composant qui contient le formulaire</p>
<ul>
    <li>Formulaire : DataAnnotations et d'afficher les message d'erreurs en haut et sur chaque champ</li>
    <li>Instance du modèle : AddMovie</li>
    <li>Methode qui est déclencher lors de la soumission</li>
    <li>EventCallback qui permet de declencher la methode transmise par le parent</li>
</ul>


<p>Une page Qui affiche La liste de film</p>
<ul>
    <li>Liste de Movie</li>
    <li>Une methode d'ajout</li>
    <li>Ajouter une methode de suppression</li>
    <li>Le composant avec le formulaire sera affiché en haut de page</li>
</ul>


@code {

}
