@page "/exo-formulaire"
@using BlazorDemoSap1.Client.Models

<h3>ExoFormulaire</h3>

<p>Model : Movie et AddMovie</p>
<ul>
    <li>Id : sera present uniquement sur Movie</li>
    <li>Titre</li>
    <li>Description</li>
    <li>AnnéeDeProd</li>
    <li>Réalisateur</li>
</ul>

<p>Un composant qui contient le formulaire</p>
<ul>
    <li>Formulaire : DataAnnotations et d'afficher les message d'erreurs en haut et sur chaque champ</li>
    <li>Instance du modèle : AddMovie</li>
    <li>Methode qui est déclencher lors de la soumission</li>
    <li>EventCallback est transmis : [Parameter]</li>
    <li>EventCallback qui permet de declencher la methode transmise par le parent</li>
</ul>


<p>Une page Qui affiche La liste de film</p>
<ul>
    <li>Liste de Movie</li>
    <li>Une methode d'ajout</li>
    <li>Ajouter une methode de suppression</li>
    <li>Le composant avec le formulaire sera affiché en haut de page</li>
</ul>


<div>
    <h3>Liste de films</h3>

    <InputMovie SubmitAction="AddMovie"/>

    <div class="card shadow w-75 mx-auto my-3">

    @foreach(Movie m in Movies)
    {
        <MovieItem Movie="m" SubmitId="RemoveMovie" />
    }
    </div>

</div>

@code {

    public List<Movie> Movies { get; set; } = new List<Movie>();

    public int LastId { get; set; }

    public void AddMovie(AddMovie newMovie)
    {
        Movie movieToAdd = new()
            {
                Id = ++LastId,
                Titre = newMovie.Titre,
                Description = newMovie.Description,
                AnneeDeProd = newMovie.AnneeDeProd,
                Realisateur = newMovie.Realisateur
            };

        Movies.Add(movieToAdd);
    }

    public void RemoveMovie(int id)
    {
        int index = Movies.FindIndex(m => m.Id == id);

        if(index != -1)
        {
            Movies.RemoveAt(index);
        }
    }

}
