@page "/exo-communication"
@using BlazorDemoSap1.Client.Models

<PageTitle>Exercice List</PageTitle>


<div>
    <h3 class="text-center my-4">Todo List</h3>
    <InputCommunication  Callback="AddTodo"/>

    @foreach(Todo t in Todos)
    {
        <div class="card w-50 mx-auto my-3 p-3 text-center">
            <h4>@t.Title</h4>
            <p>@t.Description</p>
            <button @onclick="()=>SetCompleted(t.Id)" class="btn btn-outline-dark">@t.IsCompleted</button>
            <button class="btn btn-outline-danger" @onclick="()=> RemoveTodo(t.Id)" >Remove</button>
        </div>
    }
</div>

@code {
    public List<Todo> Todos { get; set; } = new();

    public int LastId { get; set; } = 1;

    public void AddTodo(AddTodo newTodo)
    {
        Todo todo = new()
        {
            Id = ++LastId,
            Title = newTodo.Title,
            Description = newTodo.Description,
            IsCompleted = false
        };

        Todos.Add(todo);
    }

    public void SetCompleted(int id)
    {
        int index = Todos.FindIndex(t => t.Id == id);

        if(index != -1)
        {
            Todos[index].IsCompleted = !Todos[index].IsCompleted;
        }
    }

    public void RemoveTodo(int id)
    {
        int index = Todos.FindIndex(t => t.Id == id);

        if(index != -1)
        {
            Todos.RemoveAt(index);
        }
    }
}
