<h3>ExoCommunication</h3>

<h2>Exercice communication parent enfant</h2>

<p>Le parent doit contenir une liste de todo</p>
<p> une methode pour ajouter des elements dans la liste</p>
<p>Le parent affiche la liste</p>


<p>L'enfant va contenir une methode pour declencher l'envoie de l'information</p>
<p>une instance pour recuperer les informations</p>
<p>L'enfant d'occupe de recuperer l'information pour l'envoyer au parent</p>


<p>Une page : Parent</p>
<p>une liste</p>
<p>une methode ajout</p>

<p>Un composant : Enfant</p>
<p>input et une variable avec le binding two-way</p>
<p>une methode qui declenche l'eventCallback transmis par le parent</p>

@code {

}
